<!--The content below is only a placeholder and can be replaced.-->
<div id="navbar">
  <nav class="navbar navbar-expand-lg bg-purple">
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item">
              <a class="p-2 text-white" routerLink="/"><fa-icon [icon]="faHome"></fa-icon></a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item">
              <a class="p-2 text-white" routerLink="/search"><fa-icon [icon]="faSearch"></fa-icon></a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item">
              <a class="p-2 text-white" routerLink="/upload"><fa-icon [icon]="faArrowAlCircleDown"></fa-icon></a>
          </li>
      </ul>
  </nav>
</div>
<router-outlet></router-outlet>
