a:hover {
    color: #5BC491;
}

.footer {
    position: fixed;
    height: 30px;
    background: #251D35;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    display: block;
}

.goop-card {
    border-style: solid;
    border-top-color: #92a8d1;
    border-top-width: medium
}

.max-w-18 {
    max-width: 18rem;
}

.model-content {
    white-space: pre-wrap;
    overflow: auto;
}